.logo {
  background-color: #CE2829;
}

.active {
  color: #CE2829;
}

.bej {
  background-color: #FAF7F2;
}

.dough-select {
  background-color: #FAF7F2;
}

.mainCard {
  background-color: #FAF7F2;
}

.mainCardP {
  color: #CE2829;
}

.mainMenu {
  background-color: #FAF7F2;
}

.categoryMenu {
  background-color: #FAF7F2;
}

.footer {
  background-color: #292929;
}

/*pizza order*/
.order {
  background-color: #FAF7F2;
}

.pizza-count button {
  background-color: #FDC913;
}

.pizza-order-card {
  background-color: #FAF7F2;
}


/*text color*/
.yellow-text {
  color: #FDC913;
}

.red-text {
  color: #CE2829;
}

.dark-gray-text {
  color: #292929;
}

/*background color*/
.yellow-bg {
  background-color: #FDC913;
}

.red-bg {
  background-color: #CE2829;
}

.bej-bg {
  background-color: #FAF7F2;
}

.white-bg {
  background-color: white;
}

.dark-gray-bg {
  background-color: #292929;
}

/*text-font*/
.font-roboto {
  font-family: 'Roboto Condensed', sans-serif;
}

.font-barlow {
  font-family: 'Barlow', sans-serif;
}

.font-quattrocento {
  font-family: 'Quattrocento', serif;
}

.font-satisfy {
  font-family: 'Satisfy', cursive;
}